@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* COLOUR VARIABLES */
:root {
  --primary: #425280;
  --secondary: #F7D2BE;
  --tertiary: #F1ECE4;
  --light: #FFFFFF;
  --grey: #D9D9D9;
  --dark: #000000;
  --warning: #B76363;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  padding-bottom: 100px; /* så att bottom nav inte går över sista contentet på sidan */
  background-color: var(--primary);
}

.wrapper {
  background-color: var(--light);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 20px 20px 20px 20px;
}

.loginWrapper {
  height: 100%;
  background-color: var(--light);
  padding: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

a {
  color: var(--dark);
}

.registerLink {
  font-size: 12px;
}

.link {
  text-decoration: none;
  color: var(--dark);
}

h2 {
  font-size: 20px;
  margin: 0;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  padding: 10px;
}

h4 {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

h3 {
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h4 {
  font-size: 14px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

.Bar {
  background-color: var(--grey);
  border: none;
  height: 1px;
  width: 100vh;
  margin-left: -30px;
}

/* LOG IN PAGES AND REGISTER */

.logInBtn {
  border: none;
  background-color: var(--primary);
  color: var(--light);
  font-family: 'Poppins';
  font-size: 16px;
  border-radius: 6px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logInBtn img {
  height: 30px;
  margin-right: 6px;
}

.secondarylogInBtn {
  border: solid var(--primary) 1.5px;
  background-color: transparent;
  color: var(--primary);
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 16px;
  border-radius: 6px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-bar {
  border: solid var(--primary) 1.5px;
  border-radius: 6px;
  height: 26px;
  padding: 10px;
  font-family: 'Poppins';
}

/* NAV */

.navbar {
  background-color: var(--primary);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  width: 90vw;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.nav-link {
  font-size: 12px;
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.navIcon {
  font-size: 24px;
}


/* TOP NAVBAR */

.ProfilePic {
  font-size: 34px;
}

.TopNavbar {
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--light);
}

.NavColumn1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px
}

.NameAndLoc {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.NavColumn2 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  font-size: 24px;
}

/* API-LIST STYLING */

.APItitle a {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-right: 20px;
  margin: 0;
}

.APItitle h3 {
  padding-top: 2px;
}

.APIh3title {
  display: flex;
  flex-direction: row;
  border: solid rgb(36, 119, 119) 2px;
  margin: 0;
}

span {
  margin: 0;
  height: 100%;
}

.rightArrow {
  font-size: 32px;
}

.APIList {
  display: flex;
  gap: 25px;
  margin-left: 0;
  padding: 0;
}

.APIproduct {
  border: solid var(--grey) 1px;
  background-color: var(--light);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 200px;
  gap: 6px;
  margin: 0;
}

.APIproduct img {
  width: 200px;
  height: 90px;
  object-fit: cover;
  border-bottom: solid var(--grey) 1px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
}

.APItitlePlacing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ratingP {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 12px;
}

.star {
  display: flex;
  align-items: center;
  color: var(--primary);
  font-size: 20px;
}

.APIh3 {
  font-size: 14px;
  padding-left: 10px;
  margin: 0;
}

.APIp {
  font-size: 12px;
  padding-left: 10px;
  margin: 0;
}

/* CATEGORY PRODUCTS */

.CatIconProd {
  font-size: 20px;
  padding-right: 6px;
}


/* CATEGORY LIST */

.CatArt {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.CatDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.CatCat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 6px;
}

.CatIcon {
  background-color: var(--tertiary);
  border: solid var(--light) 1.5px;
  box-shadow: 0 0 0 1.5px var(--grey);
  border-radius: 100%;
  padding: 10px;
  font-size: 24px;
  color: var(--dark);
}

.CatP {
  font-size: 12px;
  font-weight: 600;
}

.cat-link {
  color: var(--dark);
  text-decoration: none;
}

.CatTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
}

.CarArrowRight {
  font-size: 20px;
  margin-left: 6px;
}

/* SEARCH BAR */

.SearchBar {
  margin-top: 20px;
  margin-bottom: 30px;
  height: 40px;
  border: solid var(--primary) 1.8px;
  border-right: none;
  width: 100%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  color: var(--dark);
}

.InputField {
  display: flex;
}

.SearchBtn {
  margin-top: 20px;
  margin-bottom: 30px;
  height: inherit;
  background-color: var(--primary);
  color: var(--light);
  font-weight: 600;
  border: none;
  padding: 20px;
  font-family: "Poppins", sans-serif;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* SINGLE PRODUCT PAGE STYLING */

.singleProduct {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productImg {
  width: 100%;
  border-radius: 6px;
  border: var(--grey) solid 1.5px;
}

.loanBtn {
  background-color: var(--primary);
  border: none;
  color: var(--light);
  border-radius: 6px;
  width: 100%;
  height: 45px;
  font-family: 'Poppins';
  font-size: 12px;
}

.renterImg {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 100%;
  border: var(--light) 1px solid;
  box-shadow: 0 0 0 1.5px var(--grey);
}

.rentDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.productDiv p {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  gap: 6px;
}

.productLink {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--dark);
  font-size: 16px;
  padding: 0;
}

.backArrow {
  font-size: 32px;
  background-color: var(--primary);
  border-radius: 100%;
  color: var(--light);
  padding: 10px;
}

/* ALL PRODUCT LIST STYLING */

.ProductList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.productsList {
  border: var(--grey) solid 1.5px;
  border-radius: 6px;
  padding: 0 0 6px 0;
}

.prodImg {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: var(--grey) 1.5px solid;
}

.prodTitle {
  display: flex;
  flex-direction: column;
}

.prodRenterImg {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 100%;
  border: var(--light) 1px solid;
  box-shadow: 0 0 0 1.5px var(--grey);
}

.prodP {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  padding-left: 10px;
  margin: 0;
}


