@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* COLOUR VARIABLES */
:root {
  --primary: #425280;
  --secondary: #F7D2BE;
  --tertiary: #F1ECE4;
  --light: #FFFFFF;
  --grey: #D9D9D9;
  --dark: #000000;
  --warning: #B76363;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.wrapper {
  margin-left: 20px;
}

/* NAV */



/* API-LIST STYLING */

.APItitle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-right: 20px;
}

.rightArrow {
  font-size: 32px;
}

.APIList {
  display: flex;
  gap: 25px;
  margin-left: 0;
  padding: 0;
}

.APIproduct {
  border: solid var(--grey) 1px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 200px;
  gap: 6px;
  margin: 0;
}

.APIproduct img {
  width: 200px;
  height: 90px;
  object-fit: cover;
  border-bottom: solid var(--grey) 1px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden;
}

.APItitlePlacing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ratingP {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 12px;
}

.star {
  display: flex;
  align-items: center;
  color: var(--primary);
  font-size: 20px;
}

.APIh3 {
  font-size: 14px;
  padding-left: 10px;
  margin: 0;
}

.APIp {
  font-size: 12px;
  padding-left: 10px;
  margin: 0;
}
